.git
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.result.cache
phpunit.xml
.phpunit.cache
*.md
.idea
.vscode
.DS_Store
